/*
## Typography

This guide proposes all text be set in Source Sans Pro from Adobe.
Similar in character to Lucida Sans (the existing typeface specified by Seven),
Source Sans is a professionally designed, fully open-source type family that
falls into the general category of “humanist sans-serif”. Fonts of this type
combine the modern geometric and industrial-age characteristics of sans-serif
typefaces with the calligraphic and handwritten qualities of Renaissance
letterforms. This balance of the engineered and the human matches well with
the Drupal brand.
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);

/*
<!--
<img src="http://groups.drupal.org/files/2.typography.png" alt="Showing different heading levels set in Source Sans Pro">
-->

```
<h1>The Quick Brown Fox Jumps Over the Lazy Dog.</h1>
<h2>The Quick Brown Fox Jumps Over the Lazy Dog.</h2>
<h3>The Quick Brown Fox Jumps Over the Lazy Dog.</h3>
<h4>The Quick Brown Fox Jumps Over the Lazy Dog.</h4>
<h5>The Quick Brown Fox Jumps Over the Lazy Dog.</h5>
<h6>The Quick Brown Fox Jumps Over the Lazy Dog.</h6>
<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit,
<em>sed do eiusmod</em> tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
aliquip ex ea <a href="#" title="">commodo consequat</a>. Duis aute irure
dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
officia deserunt mollit anim id est laborum.</p>
<caption>Lorem ipsum dolor sit amet</caption>
```

Seven’s original choice of Lucida was a good one for those same reasons, but
also for a very practical one: legibility in UI. Source Sans is arguably even
better in this respect, with glyphs such as lowercase L and upper/lower I all
easily distinguishable from one another, even at small sizes. This is one of
many details to consider when choosing a typeface for UI work, and where some
 common choices – like Helvetica – fare poorly.

Source sans also provides a versatile set of weights, including a semibold.

*   Body text is 16px/24px Regular. All text is 90% black (#1a1a1a) unless
    otherwise noted. A baseline grid of 24px is used throughout, relatively
    strictly for running text and for spacing between elements, less strictly
    within some UI components where other requirements come into play.
*/
body {
  color: #1a1a1a;
  color: hsl(0, 0%, 10%);
  background: #fff;
  font: 400 16px/24px 'Source Sans Pro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

/*
*   Four heading levels are proposed, set semibold to provide some solidity.
    There is also a greater range of type sizes than currently in D7, allowing
    for a clearer visual hierarchy. Heading levels (using the
    font-size/line-height shorthand) are:
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 10px 0;
}

/*
*   26px/30px Semibold, 80% black (#333); suggested exclusively for page titles.
*/
h1 {
  font-size: 26px;
  line-height: 30px;
  color: #333; /* 80% black */
  color: hsl(0, 0%, 20%);
}

/*
*   21px/24px Semibold, #333; suggested for subheads, modal dialog titles, etc.
*/
h2 {
  font-size: 21px;
  line-height: 24px;
  color: #333; /* 80% black */
  color: hsl(0, 0%, 20%);
}

/*
*   15px/24px Semibold all caps with ~0.1em letterspacing; suggested for fieldset
    legends and small subheads.
*/
h3 {
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*
*   13px/18px Semibold, all caps with ~0.1em letterspacing; suggested for table
    headers, primary tabs and other tight spaces.
*/
h4 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h5,
h6 {
  font-size: 1em;
}

/*
*   Caption text is 14px/18px Regular, and can be further de-empahsized by
    lightening to 67% black or #555. This guide recommends text not be set
    smaller than 14px (or 13px all caps).
*/
caption {
  font-size: 14px;
  line-height: 18px;
  color: #555; /* 67% black */
  color: hsl(0, 0%, 33%);
}

/*
*   Links and are colored #0074bd and lightened slightly on hover. In running
    text links should always be underlined. When contained within bordered
    elements where the underline adds visual clutter, it is usually omitted).
*/
a {
  color: #0074bd;
  text-decoration: underline;
}
a:hover {
  color: #2f99f9;
}
/*
## A note on licensing

Finally, Source Sans is one of the few professionally-designed typefaces that
is not only free but open source, available under the SIL Open Font License
(OFL). However, it is unclear whether the OFL would allow it to be included
as part of Drupal core. The <a href="http://en.wikipedia.org/wiki/SIL_Open_Font_License#cite_note-fsf-2">Wikipedia
page on OFL</a> states that it is not GPL-compatible. However, <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL-FAQ_web#b2e49b82">SIL’s
own FAQ states</a>, under a question about bundling with GNU/Linux that “Fonts
licensed under the OFL can be freely included alongside other software under
FLOSS (Free/Libre and Open Source Software) licenses. Since fonts are typically
aggregated with, not merged into, existing software, there is little need to be
concerned about incompatibility with existing software licenses.”

Provided the OFL license is compatible and the community supports it, this
guide proposes that a webfont version of Source Sans Pro be included with the
Seven theme. To keep file size and HTTP requests down as well as to simplify
the design system, not all of the fonts that make up the complete type family
would need to be included. This guide uses the Regular, Italic, Semibold and
Bold fonts.

*/
p {
  margin: 1em 0;
}
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}
summary,
legend {
  font-weight: bold;
  text-transform: uppercase;
}

ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}
